vault {
  address = "{{ lookup('ansible.builtin.env', 'VAULT_ADDR') }}"
}

auto_auth {
  method "approle" {
    config = {
      role_id_file_path                   = "{{ vault_agent_config_dir }}/role-id"
      secret_id_file_path                 = "{{ vault_agent_config_dir }}/wrapped-secret-id"
      secret_id_response_wrapping_path    = "auth/approle/role/{{ inventory_hostname }}/secret-id"
      remove_secret_id_file_after_reading = true
    }
  }

  sink "file" {
    reuse_token = true
    config = {
      path = "{{ vault_agent_token_sink }}"
      mode = 0640
    }
  }
}

template {
  contents = <<EOT
{% raw %}
{{- with pkiCert "infrastructure/aws-roles-anywhere-pki/issue/backup-client-{% endraw %}{{ inventory_hostname }}{% raw %}" "common_name={% endraw %}{{ ansible_fqdn }}{% raw %}" "ttl=24h" -}}
{{ .Cert }}{{ .CA }}{{ .Key }}
{{ .Key | writeToFile "{% endraw %}{{ aws_roles_anywhere_cert_dir }}{% raw %}/private.key" "vault" "vault" "0600" }}
{{ .Cert | writeToFile "{% endraw %}{{ aws_roles_anywhere_cert_dir }}{% raw %}/certificate.crt" "vault" "vault" "0644" }}
{{- end }}
{% endraw %}
EOT
  destination = "{{ aws_roles_anywhere_cert_dir }}/bundle.pem"
  perms       = 0600
}

template {
  contents = <<EOT
{% raw %}
{{- with secret "infrastructure/aws-roles-anywhere-pki/cert/ca_chain" -}}
{{ .Data.ca_chain }}
{{- end }}
{% endraw %}
EOT
  destination = "{{ aws_roles_anywhere_cert_dir }}/chain.pem"
  perms       = 0644
}
