<?php

return [
    'mysql' => [
        'host' => '{{ nameless_config.db.host }}',
        'port' => '{{ nameless_config.db.port }}',
        'username' => '{{ nameless_config.db.user }}',
        'password' => '{{ nameless_config.db.password }}',
        'db' => '{{ nameless_config.db.name }}',
        'charset' => 'utf8mb4',
        'collation' => 'utf8mb4_unicode_ci',
        'initialise_charset' => true,
        'initialise_collation' => true,
    ],
    'remember' => [
        'cookie_name' => 'nl2',
        'cookie_expiry' => 604800,
    ],
    'session' => [
        'session_name' => '2user',
        'admin_name' => '2admin',
        'token_name' => '2token',
    ],
    'core' => [
        'hostname' => 'www.minersrealm.net',
        'path' => '',
        'friendly' => true,
        'force_https' => false,
        'force_www' => false,
        'captcha' => false,
        'date_format' => 'd M Y, H:i',
        'trustedProxies' => [
            0 => '10.0.0.0/8',
            1 => '172.16.0.0/12',
            2 => '192.168.0.0/16',
        ],
        'installed' => true,
    ],
    'email' => [
        'email' => '{{ nameless_config.email.email }}',
        'username' => '{{ nameless_config.email.username }}',
        'password' => '{{ nameless_config.email.password }}',
        'name' => '{{ nameless_config.email.name }}',
        'host' => '{{ nameless_config.email.host }}',
        'port' => {{ nameless_config.email.port }},
        'secure' => '{{ nameless_config.email.secure }}',
    ],
];
